<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.1/phpunit.xsd"
        bootstrap="tests/test.bootstrap.php"
        forceCoversAnnotation="true"
        beStrictAboutCoversAnnotation="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTodoAnnotatedTests="true"
        verbose="true"
        colors="true">
    
    <testsuites>
        <testsuite name="controller">
            <directory suffix="Test.php">tests/app/controller</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    
<!--    <testsuites>
        <testsuite name="one-service-unit">
            <file suffix="Test.php">./tests</file>
        </testsuite>
    </testsuites>-->
    
</phpunit>
